*{
    margin: 0; /* 外邊距 */
    padding: 0; /* 內邊距 */
    outline: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url(image/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

body::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: -1;
}

#login-form{
    display: flex;
    justify-items:center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
}

h1{
    font-size: 3rem;
    color: white;
    margin: 0 0 50px;
    letter-spacing: 3px;

    animation: reloadA 1s ease-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.input-wrap{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 40px;
    height: 60px;
    width: 90%;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.459);
}

.in-1{
    animation: reloadA 1.4s ease-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

.in-2{
    animation: reloadA 1.4s ease-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

input{
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
    padding: 5px 25px;
}
input::placeholder{
    font-size: 1.2rem;
    color: white;
}
.input-wrap i{
    font-size: 1.2rem;
    color: white;
    padding-right: 25px;
}

button{
    font-size: 1.2rem;
    height: 60px;
    width: 90%;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.3s;

    animation: reloadA 2s ease-out forwards;
    opacity: 0;
    animation-delay: 1s;
}

button:hover {
    background-color: rgb(221, 221, 221);
}


/* 視窗浮現動畫 */
@keyframes reloadA{
    form{
        transform: translateY(250px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}